body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  max-width: 700px;
  margin: auto;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 150px auto 150px;
  grid-template-areas: "header" "main" "footer";
}

#app.is-logged-in {
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "header header" "main sidebar" "footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

/* sent modal */

.sent-modal {
  text-align: center;
  font-size: 2em;
}

.sent-modal::after {
  content: "✓";
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 5px;
  color: green;
}

/* mail modal */

.mail-modal {
  margin: 50px;
}
.mail-modal-date {
  text-align: right;
}
.mail-modal-to {
  font-size: 2em;
  font-weight: 700;
}
.mail-modal-to::before {
  font-size: 1rem;
  font-weight: 500;
  content: "To: ";
  color: rgba(0, 0, 0, 0.6);
}
.mail-modal-from {
  font-size: 2em;
  font-weight: 700;
}
.mail-modal-from::before {
  font-size: 1rem;
  font-weight: 500;
  content: "From: ";
  color: rgba(0, 0, 0, 0.6);
}
.mail-modal-message {
  margin-top: 10px;
}
.mail-modal-message::before {
  content: "Message: ";
  color: rgba(0, 0, 0, 0.6);
}

/* The Modal (background) */
.modal {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
